.skills-container
{
    height: 100%;
    padding-bottom: 50px;
    
}

.left-container1
{
    margin-top: 50px;
    margin-left: 60px;
}
h1
{
    margin-top: 5px;
    font-family: 'Salsa', cursive;
    font-size: 60px;
    letter-spacing: 3px;
    font-weight: 800;
}
.para
{
    font-weight: 600;
    margin-top: 30px;
    font-family: 'Amaranth', sans-serif;
    font-size: 25px;
    color: dimgray;
    margin-bottom: 60px;
}
.custom-hr1 {
    border: none; /* Remove the default border */
    border-top: 3px solid #000; /* Set the thickness and color of the line */
    margin-top: 40px; /* Adjust the vertical spacing if needed */
  }
  .exp
  {
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
    line-height: 40px;
  } 

  .right-container1
{
    margin-top: 50px;
    margin-left: 180px;
}
.image-container {
    display: flex;
    margin-bottom: 20px; /* Add spacing between rows */
  }
  
  .column{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Adjust as needed to align items within the container */
    margin-right: 20px; /* Add spacing between columns */
  }
  
  .skill {
    height: 100px;
    width: auto;
  }
  
  /* Style the labels */
  .column p {
    text-align: center;
    margin-top: 5px; /* Add spacing between the image and label */
    margin-bottom: 5px;
    font-size: 20px; /* Adjust the font size */
  }

  .skill-item{ 
    width: 100px;
    margin-right: 80px;
    margin-bottom: 50px;
  }
  
  @media screen and (max-width: 600px)
  {
    .skills-title{
      text-align: center;
      font-size: 45px;
    }
    .para{
      text-align: center;
    }
    .left-container1{
      margin-left: auto;
      padding: 20px;
    }
    .right-container1{
      margin-left: auto;
      padding: 20px;
    }
    .experience, .custom-hr1{
      width: 90%;
      padding: 0 20px 0 20px;
    }
    .column {
      justify-content: center; /* Reset horizontal alignment for screens greater than 600px */
      margin-right: auto;
    }
    .skill-item{ 
      width: 100px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 50px;
    }

  }