.Tab-container{
    background-color: #AFE1E1;
    min-height: 100vh;
    padding: 30px;
    border-radius: 15px;
}


.css-19kzrtu {
    padding: 0;
}

.container{
    display: flex;
    flex-direction: row;
}

.summary-title{
    margin-top: 9px;
    margin-left: 0;
    font-family: 'Amaranth', sans-serif;
    font-size: 40px;
    line-height: 80px;
}
.summary-text{
    width: 90%;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.60);
    font-family: Amaranth;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Apply-title{
    margin-top: 20px;
    margin-left: 0;
    font-family: 'Amaranth', sans-serif;
    font-size: 40px;
    line-height: 80px;
    text-align: right;
}

.underline {
    border: none; /* Remove the default border */
    border-top: 3px solid #000; /* Set the thickness and color of the line */
    margin-top: 0; /* Adjust the vertical spacing if needed */
    width: 60%;
    text-align: left;
    margin-left: 0;
  }

  .medium-underline{
    border: none; /* Remove the default border */
    border-top: 3px solid #000; /* Set the thickness and color of the line */
    margin-top: 0; /* Adjust the vertical spacing if needed */
    width: 100%;
    text-align: left;
    margin-left: 0;
  }

  .lessonleft-container
{
    width: 40%;
    margin-top: 0;
    margin-left: 50px;
    text-align: left;
    height: auto;
}

.learned-title{
    color: #000;
    font-family: Amaranth;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
}

.learned-text{
    color: rgba(0, 0, 0, 0.60);
    font-family: Amaranth;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px;
}

.lessonright-container{
    margin-left: 180px;  
    height: auto;  
    width: 40%;
}

.apply-text{
    padding-top: 30px;
    color: rgba(0, 0, 0, 0.60);
    font-family: Amaranth;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 200% */
}

.applytext-underline{
    border: none; /* Remove the default border */
    border-top: 3px solid #000; /* Set the thickness and color of the line */
    stroke: rgba(0, 0, 0, 0.60);
    margin-top: 0; /* Adjust the vertical spacing if needed */
    width: 100%;
    text-align: left;
    margin-left: 0;
}

.imgCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.poster{
    width: 600px;
    height: auto;
}

@media screen and (max-width: 1024px){
    
    .lessonright-container{
        width: 80%;
        margin-top: 80px;
        margin-left: auto;
        text-align: center;
    }

    
    .lessonleft-container
    {
        width: 90%;
        margin-top: 0;
        margin-left: 50px;
        text-align: center;
    }

    .underline {
        width: 90%;
        text-align: center;
        margin-left: 50;
      }
  }

  
@media screen and (max-width: 600px){

    .lessonleft-container
    {
        width: 80%;
        margin-top: 0;
        margin-left: 0;
        text-align: left;
    }

    .lessonright-container{
        width: 50%;
        margin-top: 80px;
        margin-left: 10px;
        text-align: left;
    }

    .services-title{
        font-size: 30px;
        text-align: center;
    }

    .summary-title{
        margin-top: 9px;
        margin-left: 0;
        font-size: 30px;
        line-height: 40px;
    }
    .summary-text{
        font-size: 20px;
    }
    .apply-text{
        padding-top: 30px;
        font-size: 25px;
        line-height: 60px; /* 200% */
    }
    .learned-title{
        font-size: 30px;
        margin-left: 0px;
    }
    
    .learned-text{
        font-size: 20px;
        padding: 10px;
    }
}