.about-container
{
    height: 100vh;
}
.left-container
{
    margin-top: 50px;
    margin-left: 60px;
}
h1
{
    font-family: 'Lilita One', cursive;
    font-size: 60px;
}
p
{
    margin-top: 30px;
    font-family: 'Amaranth', sans-serif;
    font-size: 25px;
    color: dimgray;
    margin-bottom: 60px;
    font-weight: 600;
}
button {
    background-color: #6B9999;
    width: 270px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Amaranth', sans-serif;
    font-size: 25px;
    color: white;
    border: none; /* Remove the border */
    outline: none; /* Remove the outline */
    margin-right: 20px;
  }
  .card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #6B9999;
    margin-left: 20px;
    margin-right: 10px;
  }
  
  .icon {
    color: white; /* Set the icon color to white */
    font-size: 30px; /* Adjust the icon size as needed */
  }
  
  .material-symbols-outlined {
    font-size: 40px;
  }
  
  button span.material-symbols-outlined {
    display: inline-block; /* Display both text and icon inline */
    vertical-align: middle; /* Align the icon vertically in the middle */
    margin-left: 10px; /* Adjust the spacing between text and icon */
  }
  .image
  {
    height: 450px;
    width: auto;
    margin-top: 60px;
    margin-left: 40px;
  }
  .social-text {
    padding-top: 50px;
    display: flex; /* Make the content display in a row */
    align-items: center; /* Vertically center the content */
  }
  
  .social {
    height: 40px;
    width: auto;
    margin-left: 20px; /* Add spacing between the text and images */
  }
  
  