nav
{
    padding-left: 60px;
}
a
{
    color: #6B9999;
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}
a:hover
{
    color: #AFE1E1;
}

ul 
{
    list-style: none;
    padding: 5px;
    display: flex;
}
  li 
  {
    margin-right: 40px;
  }

  @media screen and (max-width: 600px) {
    nav{
      display: none;  
    }
}